{% load static %}
<html>
    <head>
        <title>Quickbooks Oauth Webapp</title>
        <!-- <link rel="stylesheet" type="text/css" href="{% static "style.css" %}"> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script>
            if (window.opener) {
                window.opener.location.href = '/app/'
                window.close()
            }

            function launchPopup(path) {
                var win;
                var checkConnect;
                var parameters = "location=1,width=800,height=650";
                parameters += ",left=" + (screen.width - 800) / 2 + ",top=" + (screen.height - 650) / 2;

                // Launch Popup
                win = window.open(path, 'connectPopup', parameters);
            }
        </script>
    </head>
    <body>
        <div id="loggedIn" />
        <h3>Quickbooks Oauth Webapp</h3>
        Before using this app, please make sure you do the following:
        <ul>
            <li>
                Start an <a href="https://ngrok.com">ngrok</a>, instance: <code>ngrok http 8000</code>
            </li>
            <li>
                Update the parameters in <code>~/.qb-api/production-config-auth.json</code>:
                <ul>
                  <li><code>server_access_token</code> (<code>AL_QB_API_ACCESS_TOKEN</code> in <code>al_qb_api.inc</code> in web portal code)</li>
                  <li><code>server_endpoint</code> (normally https://my.apartmentlines.com/al/qb-api/access-config)</li>
                  <li><code>client_id</code> and <code>client_secret</code> (found at <a href="https://developer.intuit.com">developer.intuit.com</a>, Keys & credentials)</li>
                  <li><code>redirect_host</code>, hostname from the 'Forwarding' value in the running ngrok instance above</li>
                </ul>
            </li>
            <li>
                At <a href="https://developer.intuit.com">developer.intuit.com</a>,
                add the console output of the <code>REDIRECT_URI</code> value to Keys & credentials -> Redirect URIs
            </li>
        </ul>

        <b>OAuth2 flow</b><br/>
        <a class="imgLink" href="#" onclick="launchPopup('/app/oauth/')">
          Authorize app
        </a>
    </body>
</html>
